.header {
  background-color: #0E0E0E;
  color: $color-white;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  & .container {
    @extend %aligncenter;
    padding-top: 3.2rem;
    padding-bottom: 3.6rem;
    border-bottom: .1rem solid rgba(255, 252, 252, .2);

    @include respond(tablet) {
      padding-bottom: 3.2rem;
    }
  }


  &__logo {
    display: inline-block;
    width: 14.3rem;
    height: 2.5rem;

    @include respond(tablet) {
      margin-left: 4.2rem;
    }

    &-footer {
      @include respond(tablet) {
        margin-left: 0;
      }
    }
  }

  &__korzinka {
    display: inline-block;
    width: 2.3rem;
    height: 2rem;
    margin-left: auto;
  }

}

.main {
  margin-top: 9rem;
}