.imgs {
  margin-bottom: 16rem;

  @include respond(tablet) {
    margin-bottom: 12rem;
  }

  & .container {
    @extend %jsb;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__left {
    width: 44.5rem;

    @include respond(tablet) {
      width: 27.7rem;
    }

    @include respond(phone) {
      width: 100%;
      margin-bottom: 2rem;
    }

    &-img:not(:first-child) {
      margin-top: 3.2rem;

      @include respond(tablet) {
        margin-top: 2rem;
      }
    }

    &-img {
      border-radius: .8rem;
      display: inline-block;
      width: 100%;

      @include respond(phone) {
        height: 17.4rem;
      }
    }
  }

  &__right {
    display: inline-block;
    width: 63.5rem;
    border-radius: .8rem;

    @include respond(tablet) {
      width: 39.5rem;
    }

    @include respond(phone) {
      width: 100%;
    }

    &-img {
      @include respond(phone) {
        height: 36.8rem;
      }
    }
  }
}