.nav {
  margin-left: 19.7rem;

  @include respond(tablet) {
    margin-left: 0;
    margin-top: 3.2rem;
  }

  &__ul {
    @extend %aligncenter;
    list-style: none;
  }

  &__list:not(:first-child) {
    margin-left: 3.4rem;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: .2rem;

    &:hover {
      color: $color-coral-dark;
      transition: all .4s ease;
    }
  }

  &--header {
    @include respond(tablet) {
      display: none;
    }
  }
}