.nav {
  margin-left: 19.7rem;

  @include respond(tablet) {
    margin-left: 0;
    margin-top: 3.2rem;
  }

  @include respond(phone) {
    margin-top: 4.8rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__ul {
    @extend %aligncenter;
    list-style: none;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__list:not(:first-child) {
    margin-left: 3.4rem;

    @include respond(phone) {
      margin-top: 1.6rem;
      margin-left: 0;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: .2rem;

    &:hover {
      color: $color-coral-dark;
      transition: all .4s ease;
    }
  }

  &--header {
    @include respond(tablet) {
      display: none;
    }
  }
}