.box {
  @extend %jsb;

  &__list {
    list-style: none;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    background-color: $color-white-f1;
    border-radius: .8rem;
    padding: 11.6rem 10.9rem 3rem 10.9rem;
    color: $color-black;
    text-align: center;

    position: relative;

    @include bacimg('../images/soya-box.png', 12.2rem 1.8rem) {
      background-position: center calc(100% - 11.4rem);
    }

    &::before {
      content: "";
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-1 {
      &::before {
        background-image: url(../images/bts-black-1.png);
        width: 12.3rem;
        height: 16rem;
        background-position: center;
        position: absolute;
        bottom: 12.4rem;
        left: 50%;
        transform: translateX(-50%);

        @media only screen and(min-resolution:192dpi)and(min-width:376px),
        (min-width:2000px) {
          background-image: url(../images/bts-black-1@2x.png);
        }
      }
    }

    &-2 {
      &::before {
        background-image: url(../images/kalonka.png);
        width: 12.11rem;
        height: 14.6rem;

        position: absolute;
        bottom: 13rem;
        left: 50%;
        transform: translateX(-50%);

        @media only screen and(min-resolution:192dpi)and(min-width:376px),
        (min-width:2000px) {
          background-image: url(../images/kalonka@2x.png);
        }
      }
    }

    &-3 {
      &::before {
        background-image: url(../images/airphone.png);
        width: 17.8rem;
        height: 16.1rem;

        position: absolute;
        bottom: 12.8rem;
        left: 50%;
        transform: translateX(-50%);

        @media only screen and(min-resolution:192dpi)and(min-width:376px),
        (min-width:2000px) {
          background-image: url(../images/airphone@2x.png);
        }
      }
    }
  }

  &__span-1 {
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 1.28571px;

    margin-bottom: 1.5rem;
  }

  &__span-2 {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    mix-blend-mode: normal;
    color: rgba(0, 0, 0, .5);

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      @include badimg(.8rem, 1.2rem, '../images/arrow.png');
      margin-left: .9rem;
    }
  }
}