.p-12 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.214286px;

  &--modal-carta {
    padding-top: 1.2rem;
    border-top: .1rem solid rgba(0, 0, 0, .08);
    text-align: center;
    opacity: .5;
  }
}

.p-13 {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.928571px;
  text-transform: uppercase;
  color: #D87D4A;
  margin-bottom: 1.4rem;
}

.p-14 {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 1rem;
  mix-blend-mode: normal;

  &--section1 {
    color: $color-white;
    opacity: 0.5;
    margin-bottom: 2.4rem;

    @include respond(phone) {
      margin-bottom: 1.6rem;
    }
  }

  &--card {
    margin-bottom: 1.6rem;
    color: $color-coral-dark;
  }

  &--radio {
    font-weight: bold;
    letter-spacing: -0.25px;
  }

  &--form__list-text {
    font-weight: bold;
    letter-spacing: -0.25px;
    opacity: .5;
  }
}

.p-15 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  mix-blend-mode: normal;
  opacity: 0.5;

  &--section1 {
    width: 34.9rem;
    color: $color-white;
    opacity: .75;
    margin-bottom: 4rem;

    @include respond(phone) {
      width: 100%;
      margin-bottom: 2.8rem;
    }
  }

  &--footer-top {
    margin-bottom: 5.6rem;

    @include respond(tablet) {
      margin-bottom: 8rem;
    }
  }

  &--card {
    margin-bottom: 4rem;

    @include respond(tablet) {
      margin-bottom: 2.4rem;
    }
  }

  &--product-detail {
    text-decoration: none;
    display: inline-block;
    margin-top: 7.9rem;
    margin-bottom: 5.9rem;
    color: inherit;
    text-transform: uppercase;

    @include respond(tablet) {
      margin-top: 3.3rem;
      margin-bottom: 2.4rem;
    }

    &:hover {
      color: $color-coral-dark;
    }
  }

  &--product-detail-top {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }

  &--form__list-text {
    font-weight: bold;
    opacity: 1;
  }

  &--modal {
    margin-top: 2.4rem;
  }

  &--cart-modal:hover {
    color: $color-coral-dark;
    opacity: 1;
    cursor: pointer;
  }
}

.p-18 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 1.28571px;

  @include respond(tablet) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &--product-detail {
    margin-bottom: 4.7rem;
    margin-top: -0.8rem;
  }

  &--cart-modal {
    color: $color-black !important;
  }
}



.h1 {
  margin: 0;
  font-weight: bold;
  font-size: 5.6rem;
  line-height: 5.8rem;
  letter-spacing: .2rem;
  color: $color-white;
  margin-bottom: 2.4rem;

  @include respond(tablet) {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}

.h2 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 1.42857px;
  text-transform: uppercase;

  &__span {
    color: $color-coral-dark;
  }

  &--section6 {
    margin-bottom: 3.2rem;
  }

  &--card {
    margin-bottom: 3.2rem;

    @include respond(tablet) {
      width: 44.5rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--category {
    color: $color-white;
    text-align: center;
  }
}

.h3 {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: 1.14286px;
  text-transform: uppercase;

  &--checkout {
    margin-bottom: 4.1rem;
  }

  &--modal {
    &::before {
      @include badimg(6.4rem, 6.4rem, '../images/check.svg', 2.3rem 1.5rem) {
        border-radius: 50%;
        background-color: $color-coral-dark;
        background-position: center;
        margin-bottom: 3.3rem;
        display: flex;
      }
    }
  }
}

.h4 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.3rem;
  letter-spacing: 1.71429px;
  text-transform: uppercase;

  margin-bottom: 3.2rem;
}