.category-header {
  background-color: $color-black;

  &-top {
    background-color: $color-black;
  }

  & .container {
    padding-top: 9.8rem;
    padding-bottom: 9.7rem;
  }
}

.headphones-section1 {
  margin-top: 16rem;
  margin-bottom: 24rem;
}