body {
  background-color: $color-white-fa;
  color: $color-black;
}

.container {
  @include respond(tablet) {
    max-width: 71.9rem;
  }
}

// html {
//   @include respond(tablet) {
//     font-size: 30%;
//   }

//   @include respond(phone) {
//     font-size: 10%;
//   }
// }

// SECTION 1

.section1 {
  background-color: #0E0E0E;

  & .container {
    @include bacimg('../images/bts-black.png', contain) {
      background-position: right center;
    }

    @media only screen and(min-resolution:192dpi)and(min-width:376),
    (min-width:2000px) {
      background-image: url(../images/bts-black@2x.png);
    }

    padding-top: 12.8rem;
    padding-bottom: 15.8rem;

    @include respond(tablet) {
      background-position: center;
      padding-top: 12.6rem;
      padding-bottom: 16.7rem;
    }

    @include respond(phone) {
      padding-top: 10.8rem;
      padding-bottom: 11.2rem;
    }
  }

  &__text {
    width: 39.6rem;

    @include respond(tablet) {
      text-align: center;
      margin: 0 auto;
    }

    @include respond(phone) {
      width: 32.8rem;
    }
  }
}

// SECTION 2

.section2 {
  padding-top: 20rem;

  @include respond(tablet) {
    padding-top: 14.8rem;
  }

  @include respond(phone) {
    padding-top: 9.2rem;
  }
}

// SECTION 3

.section3 {
  margin-top: 16.8rem;

  @include respond(tablet) {
    margin-top: 9.6rem;
  }

  @include respond(phone) {
    margin-top: 5rem;
  }

  &-1 {
    background-color: $color-coral-dark;
    border-radius: .8rem;
    width: 100%;
    padding-top: 13.3rem;
    padding-bottom: 12.4rem;

    background-image: url(../images/kalonka.png), url(../images/section-2.png);
    background-repeat: no-repeat;
    background-size: 41rem 49.3rem, contain;
    background-position: calc(0% + 11.7rem) calc(100% + 2.9rem), left center;

    @media only screen and(min-resolution:192dpi)and(min-width:376px),
    (min-width:2000px) {
      background-image: url(../images/kalonka@2x.png), url(../images/section-2.png);
    }

    @include respond(tablet) {
      padding-top: 35.3rem;
      padding-bottom: 6.4rem;
      background-size: 19.7rem 23.7rem, cover;
      background-position: center calc(0% + 5.2rem);
    }

    @include respond(phone) {
      background-size: 17.2rem 20.7rem, cover;
      background-position: center calc(0% + 5.5rem);
      padding-top: 29.4rem;
      padding-bottom: 5.5rem;

    }
  }

  &__text {
    width: 34.9rem;
    margin-left: auto;
    margin-right: 9.5rem;

    @include respond(tablet) {
      text-align: center;
      margin-right: auto;
    }
  }
}

// SECTION 4

.section4 {
  margin-top: 4.8rem;

  &__box {
    background-image: url(../images/bg-kalonka.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border: 1px solid transparent;
    border-radius: .8rem;
    overflow: hidden;

    @media only screen and(min-resolution:192dpi)and(min-width:376px),
    (min-width:2000px) {
      background-image: url(../images/bg-kalonka@2x.png);
    }

    @include respond(tablet) {
      background-size: 100% 100%;
    }
  }

  &__text {
    margin: 10.1rem 0 10.1rem 9.5rem;

    @include respond(tablet) {
      margin-left: 4.1rem;
    }
  }

  &__p-28 {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: .2rem;
    margin-bottom: 3.2rem;
  }
}

// SECTION 5

.section5 {
  margin-top: 4.8rem;

  & .container {
    &::before {
      @include badimg(54rem, 32rem, '../images/bg-airphone.png');

      @media only screen and(min-resolution:192dpi)and(min-width:376px),
      (min-width:2000px) {
        background-image: url(../images/bg-airphone@2x.png);
      }

      @include respond(tablet) {
        width: 33.9rem;
        height: 32.4rem;
        background-size: 33.9rem 32.4rem;
      }
    }

    @extend %jsb;
  }

  &__box {
    background-color: $color-white-f1;
    border: .1rem solid transparent;
    border-radius: .8rem;
    width: 54rem;

    @include respond(tablet) {
      width: 33.9rem;
    }
  }
}

// SECTION 6

.section6 {
  margin: 20rem 0;

  @include respond(tablet) {
    margin: 9.6rem 0;
  }

  &--category {
    margin: 16rem 0;

    @include respond(tablet) {
      margin: 12rem 0;
    }
  }

  & .container {
    &::after {
      @include badimg(54rem, 58.8rem, '../images/jek.png');

      @media only screen and(min-resolution:192dpi)and(min-width:376px),
      (min-width:2000px) {
        background-image: url(../images/jek@2x.png);
      }

      border-radius: .8rem;
    }

    @extend %jsb;

    @include respond(tablet) {
      flex-direction: column-reverse;
    }
  }

  &__box {
    width: 44.5rem;

    @include respond(tablet) {
      width: 57.6rem;
      text-align: center;
      margin-top: 6.3rem;
    }
  }
}